*, *::before, *::after{
    box-sizing:border-box;
    font-family:sans-serif;
}

:root {
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;
}

body {
    --hue: var(--hue-neutral);
    padding:0;
    margin:0;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    background-color:hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue:var(--hue-correct);
}

body.wrong {
    --hue:var(--hue-wrong);
}

.main-section {
    width:800px;
    max-width:80%;
    background-color:black;
    color:white;
    border-radius:5px;
    padding:10px;
    box-shadow:0 0 10px 2px;
}

.btn.grid {
    display:grid;
    grid-template-columns:repeat(2,auto);
    gap:10px;
    margin:20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border:1px solid hsl(var(--hue), 100%, 30%);
    background-color:hsl(var(--hue), 100%, 50%);
    border-radius:5px;
    padding:5px 10px;
    outline:none;
}

.btn:hover {
  box-shadow:0 0 30px white;
}

.btn.correct {
  --hue: var(--hue-correct);
  color:black;
}

.btn-wrong {
  --hue: var(--hue-correct);
}

.start-btn, .next-btn {
  font-size:1.5rem;
  font-weight: bold;
  padding:10px 20px;
}

.buttons {
  display:flex;
  justify-content:center;
  align-items:center;
}

.hide {
  display:none;
}


/*
    <!---------- Quiz Box ------------>
      <div class="quiz-box">
        <header>
          <div class="title-header">Quiz Application</div>
          <div class="timer">
            <div class="timer-text">Time Left</div>
            <div class="timer-sec">15</div>
          </div>
        </header>

        <!------------ Footer ------------>
        <footer>
          <div class="total-que">
            <span><p>2</p>of<p>5</p>Questions</span>
          </div>
          <button class="next-btn">Next Question</button>
        </footer>
      </div>

        <!--------- Result Box ------------>
        <div class="results">
          <div class="icon">
            <i class="fa-crown"></i>
          </div>
          <div class="complete-text">Congratulations!!You've completed the Quiz!</div>
          <div class="score-text">
            <span>you got only <p> 2 </p> out of <p>5</p></span>
          </div>
          <div class="buttons" >
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
          </div>    
        </div>
*/